*,html,body {
    margin: 0;
    padding: 0;
}

#bg-video {
    background-image: url(/background.mp4);
    width: 100%;
    height: 96vh;
    position: absolute;
    object-fit: cover;
}

section {
    height: 97vh;
}

footer {
    height: 3vh;
}

